<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Lovers</title>

        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <h1>Movie Lovers</h1>

        <p>
            You searched for:
            <strong><%= @title %></strong>.
        </p>
        <p>
            There were
            <strong><%= @results %></strong>
            results.
        </p>

        <h2>
            Which of these films was released in
            <em><%= @correct.year %></em>?
        </h2>

        <ul class="movie-list">
            <% @movies.each do |movie| %>
                <li>
                    <% if movie.year == @correct.year %>
                        <img src="<%= movie.poster %>"
                             alt="<%= movie.title %>"
                             onclick="alert('Correct!')">
                    <% else %>
                        <img src="<%= movie.poster %>"
                             alt="<%= movie.title %>"
                             onclick="alert('Wrong! Guess again!')">
                    <% end %>
                   
                </li>
            <% end %>
        </ul>
    </body>
</html>
